{% extends 'base_email.html' %}
{% block content %}
<strong><span style="color: green;">Prezados, bom dia!</span></strong>
<p>Segue em anexo os PDVs que <strong>não realizaram vendas nos últimos 30 dias</strong>, com seus respectivos Nº de Série SAT.</p>

<strong><span style="color: red;">IMPORTANTE: </strong></span>Destacamos que os Pontos de Venda (PDVs) podem estar inativos devido a eventualidades na loja e que os dispositivos SAT podem ter sido realocados pela equipe de Tecnologia da Informação (TI) ou pela equipe da loja.

{% endblock %}